{%extends 'base.html'%}
{%block title%}Home{%endblock%}
{%block content%}
<template id="suggestion-template">
    <a class="suggestion">
    </a>
</template>
<div id="user-search" class="card">
    <div class="card-header">
    <p>Enter your nickname to view stats:</p>
    </div>
    <div class="card-body">
    <input id="search-input" placeholder="Enter nickname"></input>
    <div id="search-suggestions-container">
    <div id="search-suggestions"></div>
    </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
<script src="/static/js/proxy.js"></script>        
<script src="/static/js/index.js"></script>
{%endblock%}
