{%extends 'base.html'%}
{%block title%}{{public_user_data["nickname"]}}'s stats{%endblock%}
{%block head%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/static/js/leaflet.heat.js"></script>
{%endblock%}
{%block content%}
<template id="game-template">
    <div class="game">
        <div class="column">
            <div class="row"><span class="game-status iconify"></span> vs <div class="player"><img class="game-opponent-avatar avatar-image-small"><a class="game-opponent"></a><span>(<span class="game-opponent-rank"></span>)</span></div>
            </div>
            <div><span class="iconify" data-icon="mdi-diameter-variant"></span><span class="game-score"></span></div>
        </div>
        <a href="#" target="_blank" class="button game-view">View</a>
    </div>
</template>
<template id="player-template">
    <div class="player-outer">
        <div class="row right">
            <div class="column">
                <div class="player"><img class="player-avatar avatar-image-small"><a class="player-nick"></a></div>
                <div><span class="player-rank"></span></div>
            </div>
            <div class="column right"><span class="player-winrate"></span>
                <div class="row"><span class="player-games-played"></span> games</div>
            </div>
        </div>
    </div>
</template>
<template id="guess-template">
    <div class="guess">
        <div class="column">
            <div class="row"><strong class="guess-score"></strong> <span class="guess-time"></span>
                <span class="guess-distance"></span>
                <a class="guess-open" target="_blank"><span class="iconify" data-icon="mdi-open-in-new"></span></a>
            </div>
            <div class="guess-map"></div>
        </div>
    </div>
</template>
<template id="country-correct-template">
    <tr class="country-correct table-row">
        <td>
            <div class="row">
                <img class="country-correct-img small-flag">
                <span class="country-correct-name">
                </span>
            </div>
        </td>
        <td class="country-correct-percent"></td>
        <td>
            <div class="row country-correct-mistakes wrap">
            </div>
        </td>
</template>
<template id="country-score-template">
    <tr class="country-score table-row">
        <td>
            <div class="row">
                <img class="country-score-img small-flag">
                <span class="country-score-name">
                </span>
            </div>
        </td>
        <td><strong class="country-score-score"></strong></td>
    </tr>
</template>
<template id="country-time-template">
    <tr class="country-time table-row">
        <td>
            <div class="row">
                <img class="country-time-img small-flag">
                <span class="country-time-name">
                </span>
            </div>
        </td>
        <td><span class="country-time-time"></span>s</td>
    </tr>
</template>

<div class="stats-title"><img src="{{"https://static.geo.edutastic.de/avatars/"+public_user_data["avatarImage"] if public_user_data["avatarImage"] else "https://static.geo.edutastic.de/avatar/default.png"}}" class="avatar-image">
    <h1 class="title">{{public_user_data["nickname"]}}</h1>
</div>
<div id="stats" class="tabs">
    <div class="tablist">
        <button data-tab="tab-pp" class="tab-button active">Pinpointing</button>
        <button data-tab="tab-flags" class="tab-button">Flags</button>
    </div>
    <div class="tab active" id="tab-pp" data-tab="tab-pp">
        <div id="pp-grid" class="grid">
            <div class="card col-5" id="pp-overview">
                <div class="card-header">
                    <h3 class="card-title">Overview</h3>
                </div>
                <div class="card-body">
                    <div class="stat">
                        <span class="stat-name">Total games played</span>
                        <span class="stat-value" id="pp-overview-games-played"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Win rate</span>
                        <span class="stat-value" id="pp-overview-win-rate"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Elo</span>
                        <span class="stat-value" id="pp-overview-elo"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Rank</span>
                        <span class="stat-value" id="pp-overview-rank"></span>
                    </div>


                </div>
            </div>
            <div class="card col-7" id="pp-opponents">
                <div class="card-header">
                    <h3 class="card-title">Opponents</h3>
                </div>
                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best opponents (win rate)</span>
                        <div class="stat-value-multi row wrap" id="pp-opponents-best"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst opponents (win rate)</span>
                        <div class="stat-value-multi row wrap" id="pp-opponents-worst"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Most played opponents</span>
                        <div class="stat-value-multi row wrap" id="pp-opponents-most-played"></div>
                    </div>
                </div>
            </div>
            <div class="card col-5" id="pp-games">
                <div class="card-header">
                    <h3 class="card-title">Games</h3>
                </div>

                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best games (score)</span>
                        <div class="stat-value-multi column" id="pp-games-best-games"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst games (score)</span>
                        <div class="stat-value-multi column" id="pp-games-worst-games"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Best wins (opponent elo)</span>
                        <div class="stat-value-multi column" id="pp-games-best-wins"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst losses (opponent elo)</span>
                        <div class="stat-value-multi column" id="pp-games-worst-losses"></div>
                    </div>
                </div>
            </div>

            <div class="card col-7" id="pp-guesses">
                <div class="card-header">
                    <h3 class="card-title">Guesses</h3>
                </div>
                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best guesses</span>
                        <div class="stat-value-multi row wrap" id="pp-guesses-best"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst guesses</span>
                        <div class="stat-value-multi row wrap" id="pp-guesses-worst"></div>
                    </div>

                </div>
            </div>


            <div class="card col-6" id="pp-dist">
                <div class="card-header">
                    <h3 class="card-title">Score Distribution</h3>
                </div>
                <div class="card-body">
                    <div id="pp-dist-histogram">
                    </div>
                </div>
            </div>

            <div class="card col-6" id="pp-countries">
                <div class="card-header">
                    <h3 class="card-title">Countries</h3>
                </div>

                <div class="tabs">
                    <div class="tablist">
                        <button class="tab-button active" data-tab="tab-correct">Correct</button>
                        <button class="tab-button" data-tab="tab-score">Score</button>
                    </div>
                    <div class="tab active country-table-wrapper" data-tab="tab-correct">
                        <table class="country-table" cellspacing="0" cellpadding="2">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Correct %</th>
                                    <th>Mistakes</th>
                                </tr>
                            </thead>
                            <tbody id="pp-countries-correct">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab country-table-wrapper" data-tab="tab-score">
                        <table class="country-table" cellspacing="0" cellpadding="2">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Average Score</th>
                                </tr>
                            </thead>
                            <tbody id="pp-countries-score">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card col-12" id="pp-areas">
                <div class="card-header">
                    <h3 class="card-title">Guess heatmap</h3>
                </div>
                <div class="card-body">
                    <div id="pp-areas-map">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="tab" id="tab-flags" data-tab="tab-flags">
        <div id="flags-grid" class="grid">
            <div class="card col-5" id="flags-overview">
                <div class="card-header">
                    <h3 class="card-title">Overview</h3>
                </div>
                <div class="card-body">
                    <div class="stat">
                        <span class="stat-name">Total games played</span>
                        <span class="stat-value" id="flags-overview-games-played"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Win rate</span>
                        <span class="stat-value" id="flags-overview-win-rate"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Elo</span>
                        <span class="stat-value" id="flags-overview-elo"></span>
                    </div>
                    <div class="stat">
                        <span class="stat-name">Rank</span>
                        <span class="stat-value" id="flags-overview-rank"></span>
                    </div>


                </div>
            </div>
            <div class="card col-7" id="flags-opponents">
                <div class="card-header">
                    <h3 class="card-title">Opponents</h3>
                </div>
                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best opponents (win rate)</span>
                        <div class="stat-value-multi row wrap" id="flags-opponents-best"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst opponents (win rate)</span>
                        <div class="stat-value-multi row wrap" id="flags-opponents-worst"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Most played opponents</span>
                        <div class="stat-value-multi row wrap" id="flags-opponents-most-played"></div>
                    </div>
                </div>
            </div>

            <div class="card col-5" id="flags-games">
                <div class="card-header">
                    <h3 class="card-title">Games</h3>
                </div>

                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best games (score)</span>
                        <div class="stat-value-multi column" id="flags-games-best-games"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst games (score)</span>
                        <div class="stat-value-multi column" id="flags-games-worst-games"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Best wins (opponent elo)</span>
                        <div class="stat-value-multi column" id="flags-games-best-wins"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst losses (opponent elo)</span>
                        <div class="stat-value-multi column" id="flags-games-worst-losses"></div>
                    </div>
                </div>
            </div>
            <div class="card col-7" id="flags-guesses">
                <div class="card-header">
                    <h3 class="card-title">Guesses</h3>
                </div>
                <div class="card-body">
                    <div class="stat column">
                        <span class="stat-name">Best guesses</span>
                        <div class="stat-value-multi row wrap" id="flags-guesses-best"></div>
                    </div>
                    <div class="stat column">
                        <span class="stat-name">Worst guesses</span>
                        <div class="stat-value-multi row wrap" id="flags-guesses-worst"></div>
                    </div>

                </div>
            </div>


            <div class="card col-6" id="flags-dist">
                <div class="card-header">
                    <h3 class="card-title">Score Distribution</h3>
                </div>
                <div class="card-body">
                    <div id="flags-dist-histogram">
                    </div>
                </div>
            </div>
            <div class="card col-6" id="flags-countries">
                <div class="card-header">
                    <h3 class="card-title">Countries</h3>
                </div>

                <div class="tabs">
                    <div class="tablist">
                        <button class="tab-button active" data-tab="tab-score">Score</button>

                        <button class="tab-button" data-tab="tab-time">Time</button>
                    </div>
                    <div class="tab active country-table-wrapper" data-tab="tab-score">
                        <table class="country-table" cellspacing="0" cellpadding="2">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Average Score</th>
                                </tr>
                            </thead>
                            <tbody id="flags-countries-score">
                            </tbody>
                        </table>

                    </div>

                    <div class="tab country-table-wrapper" data-tab="tab-time">
                        <table class="country-table" cellspacing="0" cellpadding="2">
                            <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Average Time</th>
                                </tr>
                            </thead>
                            <tbody id="flags-countries-time">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <img class="loading-image" src="/static/loading.webp" width="100">
    <div id="loading-data"><span id="loading-flavor">Loading...</span><progress id="loading-progress" max="100" value="0"></progress></div>
</div>
{%endblock%}
{%block extra%}
<div id="modal-container" style="display:none; position:absolute;">
    <div id="modal-wrapper" style="background:rgba(0,0,0,0.5); position:absolute; z-index:99; width:100vw; height:100vh; display:flex; justify-content:center; align-items:center">
        <div id="modal" class="card" style="width:50vw;">
            <div class="card-header">
                <h3 class="card-title" id="modal-title"></h3>
            </div>
            <div id="modal-body" style="padding:1em;">
            </div>
            <div id="modal-foot" style="display:flex; flex-direction:row; justify-content:center; align-items:center; padding:1em;">
                <button id="modal-close" class="button">Close</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block scripts%}
<script>
    const userUid = "{{uid}}";
    const userData = {{public_user_data | tojson}};
</script>
<script src="/static/js/countries.js"></script>
<script src="/static/js/proxy.js"></script>
<script src="/static/js/tabs.js"></script>
<script src="/static/js/stats.js"></script>
<script src="/static/js/poor.js"></script>
{%endblock%}
